html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root{
    --accent-color: #007765;
    --gray-color: #EEEEEE;
    --white-color: #fff;
}

body {
    margin: 0;
    font-family: "Roboto" sans-serif;
    font-weight: 400;
}

.content {
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0 auto;
    border: 1px solid #000;
}
#header .content{
    border: 1px solid red;
    display: block;
    
}

#header {
    background-color: var(--accent-color);
    color: var(--white-color);
    height: 84px;
    /* position:fixed; */
}

#logo {
    width: 184px;
    height: 45px;
    display: inline;
    float: left;
}  

ul {
    list-style-type: none;
    float: right;
}

li {
    display: inline;
   
}

li a {
    text-decoration: none;
    color: var(--white-color);
    font-family: "Roboto" sans-serif;
    font-weight: 400;
    font-size: 24px;

}

#title {
    background-image: url("image\\image-15.png");
    background-size: contain;
    height: 403px;
    color: var(--white-color);
}

#problem {
    background-color: var(--white-color);
}

#hero {
    background-image: url("image\\image-14.png");
}

#coin {
    background-color: var(--white-color);
}

#team {
    background-color: var(--gray-color);
}

#footer {
    background-color: #333;
}