html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root{
    --accent-color: #007765;
    --gray-colo: #EEEEEE;
    --white-color: #fff;
}

body {
    margin: 0;
    font-family: "Roboto" sans-serif;
    font-weight: 400;
}
