html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
:root{
    --accent-color: #007765;
    --gray-colo: #EEEEEE;
    --white-color: #fff;
}

body {
    margin: 0;
    font-family: "Roboto" sans-serif;
    font-weight: 400;
}

.content {
    width: 1219px;
    padding-left: 55px;
    padding-right: 55px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
}

#header {
    background-color: #007765;
    color: #fff;
    height: 84px;
    /* position:fixed; */
}

#logo {
    width: 184px;
    height: 45px;
    float: left;
}  

ul {
    list-style-type: none;
    display: inline;
    float: right;
}

li {
    display: inline;

}

li a {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

#title {
    background-image: url("image\\image-15.png");
    background-size: contain;
    height: 403px;
    color: #fff
}

#problem {
    background-color: #fff;
}

#hero {
    background-image: url("image\\image-14.png");
}

#coin {
    background-color: #fff;
}

#team {
    background-color: #EEEEEE;
}

#footer {
    background-color: #333;
}