@font-face{
    font-family: 'Quite Chocolatey';
    src: url(../fonts/Quite\ Chocolatey.ttf);
}

@font-face {
    font-family: 'Montserrat regular';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}

html{
    box-sizing: border-box;
}

*, *::after, *::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.header{
    background-image: url('..\\img\\Layer 1.png');
    height: 700px;
}
.container{
    width: 1011px;
    margin: 0 auto;
}

.uper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 136px;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 520px;
}
.item_menu{
    height: 36px;
    width: 86px;
    font-family: 'Montserrat regular';
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    align-content: center;
}
.item_menu:hover{
    background-color: #130e27;
    border-radius: 5px;
    cursor: pointer;
}
.logo{
    margin-top: 35px;
    font-family: 'Quite Chocolatey';
    color: #fff;
    font-size: 99px;
    font-weight: 400;
}

.text_1{
    font-family: 'Montserrat Bold';
    font-weight: bolder;
    font-size: 66px;
    text-transform: uppercase;
    line-height: 60px;
    margin-bottom: 50px;
}
 .text_1 span{
    color: #130e27
 }
.text{
    width: 390px;
    color: #fff;
}

.text_2{
    font-family: "PTSerif";
    font-size: 17px;
    line-height: 1.4;
}

