html{
    box-sizing: border-box;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header{
    background-color: #062722;
}
.conteiner{
    max-width: 1170px;
    margin: 0 auto;
    
}
.status{
    padding: 25px 0;
}

ul{
    list-style: none;
}

ul.main{
    display: flex;
    justify-content: space-around; 
    text-transform: uppercase;
    color: white;
    align-items: center;
}
li{
    text-align: center;

}
li.up{
    font-size: 40px;
    font-weight: bolder;
    color:rgb(126, 71, 26);
    margin-bottom: 10px;
}
li.down{
    font-size: 12px;
}